* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #ecc89c, #f4b266);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message {
  background-color: aliceblue;
  padding: 1rem;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}
